<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title th:text="${title}"></title>
</head>
<body class="container">
<nav th:replace="fragments :: header"></nav>
<form method="post">

    <div th:fragment="eventTable">
        <h2 th:if="${events} and ${!(events.size() > 0)}">No events to display</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tr th:each="event : ${events}">
                <td th:text="${event.key}"></td>
                <td th:text="${event.value.name}"></td>
                <td th:text="${event.value.description}"></td>
                <td><input type="checkbox" name="eventIds" th:value="${event.value.id}" class="form-control"></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>